.button-square {
    --button-size: 50px;

    position: relative;
    color: #fff;
    margin: 8px;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: box-shadow .2s ease;
}
.button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}
.button-square:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

.button-email {
    background-color: #4CAF50;
}
.button-github {
    background-color: #f44336;
}
.button-linkedin {
    background-color: #3F51B5;
}
.button-simple {
    background-color: transparent;
    box-shadow: none !important;
    transition: opacity .2s ease;
}
.button-simple:hover {
    opacity: 0.8;
}